*{
    
    background-color: black;
    color: white;

}

.cabeça nav{
    display:flex;
    justify-content:space-between;
    margin:100px, 10px;  
}
nav{
    margin:10px;
}

.container{
    margin-top:10px;
    padding:0px 50px;
}

li{
    list-style-type: none;
    font-size: 16px;
}
.cabeça nav a{
    font-size: 20px;
    color:#05bf49;
    font-size: arial;
}


.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px;
    color:#05bf49;
    box-shadow: 8px 8px 15px rgba(16, 253, 36, 0.716);
}

.testando{
  text-align: center; 
}


.nome{
    text-align: center;
}

.nome h1{
    color:#007e2e;
    padding:0px;
    
}

.nome h2{
    color:#007e2e;
    font-size:28px;
    padding: 0px;
    margin: 0px;
}


.email{
    display:flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    width: 560px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 8px;
    border: solid 3px black;
    align-items: center;
    border-radius:10px;
    box-shadow: 8px 8px 15px rgba(16, 253, 36, 0.716);
    margin-top: 20px;
}
.email p{
    background-color: #fff;
    color: #007e2e;
}
.email button{
    display: flex;
    text-align: center;
    margin: 3px;
}
.contato {
   
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    padding:8px;
    width: 250px;
    margin:auto;
    text-align: center;
    box-shadow: 8px 8px 15px rgba(16, 253, 36, 0.716);
    border: solid 3px black;
    
}
.contato p{
    background-color: #fff;
   color: #007e2e;
}

.list img{
    height:40px;
    width:40px;
}

.list  {
    display: flex;
    text-align:center;
    justify-content: center;
    list-style-type: none;
    margin: 50px;
    list-style-type: none;
    
}

footer p{
    padding: 3px;
    
}

footer li a p{
    margin: 4px;
    padding: 3px;

}

nav  ul li a:hover{
    color:#ffffff;
    list-style-type: none;

   
    
}

footer ul li a:hover{
    text-transform: capitalize;
    color: #005dc8;
    text-decoration: none;
    align-items: center;
   
}

.copy{
    text-align: center;
}

 @import url(tiny.css) (min-width:300px);
 @import url(small.css) (min-width:600px);
 @import url(big.css) (min-width:900px);
2
@media screen and (max-width: 300px) {
 /* estilos */
}
@media screen and (max-width: 600px) {
/* Estilos */
}